*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER */
.header{
    background-color: rgb(82, 82, 253); 
    /* background img al posto di bg color */
    height: 500px;
    width: 100%;
}



/* MAIN */

.flex-container{
    background-color: #fff;
    width: 100%;
}


.container-md{
    margin: 0 auto;
    padding: 20%;
}



/* FOOTER */
.footer-container{
    background-color: rgb(32, 32, 44);
    height: 500px;
    width: 100%;
}